/*theme style*/

/*navbar color*/
.navbar.navbar-default {
    background: none repeat scroll 0% 0% rgba(230, 230, 230, 0.9) !important;
    box-shadow: 0 1px 2px #777 !important;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-header > a:hover {
	text-shadow: 0 1px 2px #666 !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555  !important;
    background: none repeat scroll 0% 0% rgba(250, 250, 250, 0.4) !important;
}



/*scrolling tag color*/
#scrollUp {
    color: rgb(80,80,80) !important;
}
#scrollUp:hover {
    text-shadow: 0 1px 2px #666 !important;
}


/*footer's color*/
.footer {
	background-color: #f5f5f5;
}


/*common setting*/
/*border color*/
.border-tmq{
	border: 4px solid rgba(240,240,240,0.7);
}


/*bootstrap color*/
.carousel-control.right {
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
	background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
	background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	color: #fff;
	background-color: #428bca;
	border-color: #428bca;
}
.badge {
	color: #fff;
	background-color: #777;
}
.jumbotron {
	color: inherit;
	background-color: #eee;
}