/*custom global style*/
body {display: none;}
a {outline-style: none !important; /*remove the outline when selected.*/}

.navbar.navbar-default {
    border-color: transparent;
}

.navbar.navbar-default {
    background: none repeat scroll 0% 0% rgba(230, 230, 230, 0.9);
    border: medium none;
    box-shadow: 0 1px 2px #777;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-header > a:hover {
	text-shadow: 0 1px 2px #666;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background: none repeat scroll 0% 0% rgba(250, 250, 250, 0.4);
}


/*scrolling tag style*/
#scrollUp {
    color: rgb(80,80,80);
    font-size: 12px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    bottom: 0;
    right: 20px;
    overflow: hidden;
    width: 46px;
    height: 32px;
    border: medium none;
    opacity: 0.8;
    outline-style: none; /*remove the outline when selected.*/
}

#scrollUp:hover {
    text-shadow: 0 1px 2px #666;
}


/*home page paragraph style*/
.featurette-heading {margin-top: 0;}

/*footer style setting*/
.footer {height: auto;}
.footer .update-time {
	font-family: Chiller,Gabriola,Candara,Constantia,DaunPenh,"Freestyle Script";
	float: right;
}


/*slide background settings*/
.slide-bg-1 {
	background: #ddd url(/resource/imgs/slidea.jpg) no-repeat center;
}
.slide-bg-2 {
	background: #ddd url(/resource/imgs/slideb.jpg) no-repeat center;
}
.slide-bg-3 {
	background: #ddd url(/resource/imgs/slidec.jpg) no-repeat center;
}

/*border setting*/
.border-tmq{
	border: 4px solid rgba(240,240,240,0.7);
}