/*custom global style*/
body {display: none;}
a {outline-style: none !important; /*remove the outline when selected.*/}

.navbar.navbar-default {
    border-color: transparent;
    position: absolute;
    z-index: 100;
	border-radius: 0;
	width: 100%;
}

.navbar.navbar-default {
    background: none repeat scroll 0% 0% rgba(230, 230, 230, 0.9);
    border: medium none;
    box-shadow: 0 1px 2px #777;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-header > a:hover {
	text-shadow: 0 1px 2px #666;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background: none repeat scroll 0% 0% rgba(250, 250, 250, 0.4);
}

.cus-navbar {
	padding: 0;
	overflow: hidden;
}
.cus-navbar-translate {
	width: 100%;
	height: 200%;
}
.cus-navbar-logo {
	display: block;
	background: url(/resource/imgs/tmq_logo.png) no-repeat;
	background-position: 0% 100%;
	width: 40px;
	height: 40px;
	margin: 5px 10px 5px 5px;

	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);   
	transform: translateY(0%);
	-webkit-transition:1s all ease;
	-moz-transition:1s all ease;
	transition:1s all ease;
}
.cus-navbar-logo-color {
	display: block;
	background: url(/resource/imgs/tmq_logo.png) no-repeat;
	background-position: 0% 0%;
	width: 40px;
	height: 40px;
	margin: 10px 10px 5px 5px;
}
.navbar .container:hover .cus-navbar-translate {
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);   
	transform: translateY(-50%);
	-webkit-transition:1s all ease;
	-moz-transition:1s all ease;
	transition:1s all ease;
}


/*scrolling tag style*/
#scrollUp {
    color: rgb(80,80,80);
    font-size: 12px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    bottom: 70px;
    right: 20px;
    overflow: hidden;
    width: 46px;
    height: 32px;
    border: medium none;
    opacity: 0.8;
    outline-style: none; /*remove the outline when selected.*/
}

#scrollUp:hover {
    text-shadow: 0 1px 2px #666;
}


/*home page paragraph style*/
.featurette-heading {margin-top: 0;}

/*footer style setting*/
.footer {height: auto;}
.footer .update-time {
	font-family: Chiller,Gabriola,Candara,Constantia,DaunPenh,"Freestyle Script";
	float: right;
}


/*slide background settings*/
.cus-carousel .item {
	background-color: #eee;
}
.slide-bg-1 {
	background: #ddd url(/resource/imgs/slidea.jpg) no-repeat center;
}
.slide-bg-2 {
	background: #ddd url(/resource/imgs/slideb.jpg) no-repeat center;
}
.slide-bg-3 {
	background: #ddd url(/resource/imgs/slidec.jpg) no-repeat center;
}

/*border setting*/
.border-tmq{
	border: 4px solid rgba(240,240,240,0.7);
}


/*common setting*/
.cus-bg-articles {background: #eee url(/resource/imgs/jpbtna.jpg) no-repeat center; }
.cus-bg-books {background: #eee url(/resource/imgs/jpbtnb.jpg) no-repeat center; }
.cus-bg-tech {background: #eee url(/resource/imgs/jpbtnc.jpg) no-repeat center; }